/* Smallest screen we deal with is 320px. 768px is about the width of a phone screen turned sideways. */
@media only screen and (min-width: 768px) {
    
    /* Increase size of header elements for medium size screens */
    header h1 {font-size: 2rem;}
    header h2 {font-size: 1.5rem;}
    header img {height: 100px;}

    .medium-6 {width: 50%;}

    /* don't display the hamburger button if not phone-size. */
    nav button {display: none;}
    /* Make sure navigation displays */
    nav ul {display: block;}
    
    nav li {
        /* Arrange items left to right. */
        float: left;
        /* 4 items, so 25% uses all the space. */
        width: 25%;
    }
    
} /* end of media query */